*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
h2{
    text-align: center;
    color: brown;
    margin-top: 30px;
}
.para-heading{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
hr{
    background-color: green;
    padding: 1px;
    margin:20px 150px 0px 150px;
}
.first-container{
    display: flex;
}
.description{
    margin: 50px 0px 0px 50px;
    width:500px;
    font-size: 16px;
}
.description p{
    margin-top: 10px;
}
.image-car{
    width:500px;
    margin-top:50px;
    margin-left: 100px;
}
.image-car img{
    width:600px;
    height:300px;
}
.start-btn{
    background-color: blue;
    border-radius:50px;
    margin-left:520px;
    font-size: 18px;
    color:white;
    border: 0px;
    width:200px;
    padding:7px;
}
button:hover{
    background-color: darkgreen;
    transition: 2s;
}